#map-container {
    background-color: #ccc;
    width: 100%;
    position: absolute;
}

.map-cell {
    aspect-ratio: 1/1;
    padding: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
}

.map-cell > img {
    max-width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

.marker {
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.gold {
    background-color: gold;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

#feedback {
    display: none;
}

#add-item-form, #add-location-form {
    display: none;
}