#map-container {
    background-color: #ccc;
    width: 100%;
}

.map-cell {
    height: 50px;
}

.marker {
    background-color: cyan;
    height: 20px;
    width: 20px;
    border-radius: 25%;
    position: absolute;
    left: 0;
    top: 0;
}

#feedback {
    display: none;
}

#add-item-form, #add-location-form {
    display: none;
}