/* 
    ICS 128 Term Project: Map Builder
    Natalie Perelygin
*/


/* Main styles for the map container */
#map-container {
    background-color: #ccc;
    width: 100%;
    position: absolute;
}

.map-cell {
    aspect-ratio: 1/1;
    padding: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
}

/* Styles for the background tiles */
.tile {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Styles for the circular markers on the map */
.marker {
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.selected {
    border: 2px solid orange;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.gold {
    background-color: gold;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

/* Hide error feedback by default */
#feedback {
    display: none;
}

/* Hide add item/location forms until they are opened by user */
#add-item-form, #add-location-form {
    display: none;
}